@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

footer{
    color: white;
    font-family: 'Manjari', sans-serif;
}

#inner{
    width: 75%;
    padding: 70px 0;
    margin: 0 auto;
}

@media only screen and (max-width: 575px){
    .col-sm-6{
        margin-bottom: 10px;
    }
}